@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom_orange: #FC1C00;
  --custom_pink: #FFDFDF;
  --custom_red: #FC1C00;
}

body {
  color: #000000;
}

.w95 {
  width: 95%;
}

